.key-help
  line-height: 0.8em
  .key-help-entry
    cursor: pointer
    display: inline-block
    width: 3.879em // just right to fill in the sidebar width
    height: 3.5em
    min-width: 1cm
    line-height: 0.40cm
    text-align: center
    vertical-align: center
    background: #333

    background: linear-gradient(180deg, #333, #222, #222, #222, #222, #111)
    border: solid 1px #222
    border-radius: 0.1cm

    overflow: hidden
    margin: 0.125em

    // Avoid selection when double clicking
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                    not supported by any browser */

  .key
    margin-top: 0.1cm
  .name
    color: #999
    line-height: 0.35cm
    font-size: 90%
    display: flex
    height: 2em
    justify-content: center
    align-items: center
    span
      display: block
      max-width: 3.9em
      max-height: 2em

  .ui
    color: #999

  .group
    margin-bottom: 0.5em

    .group-title
      color: #666
      text-transform: uppercase
      font-size: 80%
