.info
  p Welcome to the development preview of Whilelse!
  p Please note:
  ul
    li there's no security, anything you create here can be easily viewed by others
    li anything you create may be deleted or become broken with a new release
  p Please enter your username – 4-8 lowercase alphanumeric characters – then press Enter
  form
    input(type="text" id="username-input" name="username" placeholder="username" )
