body
  margin: 0
  padding: 0

#layout
  display: flex
  flex-direction: column
  justify-content: space-between

  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0

#middle
  flex-grow: 1
  display: flex

#main
  flex-grow: 1
  display: flex

header, footer, .sidebar
  padding: 0.5rem
header, footer, .sidebar
  background: #333

//#main, #sidebar, #keyboard
  //padding: 1em
  //position: fixed


#sidebar
  display: block
  background: #272727
  flex: 0 0 24.5rem
  overflow: auto


header
  flex: 0 0 1.8rem
  padding: 0
  height: 1.8rem

#logo
  font-size: 18px
  color: #999
  //background: #222
  background-image: url(/logo/logo-on-dark.png)
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  display: inline-block
  width: 6.2rem
  height: 1.8rem

#main
  > .login
    padding: 1em
