body
  margin: 0
  padding: 0

#layout
  display: flex
  flex-direction: column
  justify-content: space-between

  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0

#middle
  flex-grow: 1
  display: flex

#main
  flex-grow: 1

#main, header, footer, .sidebar
  overflow: auto
  padding: 0.5rem
header, footer, .sidebar
  background: #333

//#main, #sidebar, #keyboard
  //padding: 1em
  //position: fixed

sidebarwidth=30em
keyboardheight=0em


#sidebar
  display: block
  background: #333
  width: sidebarwidth
  overflow: auto

#keyboard
  display: none // I don't need it now
  background: #0a0a0a
  height: keyboardheight
  right: 0
  bottom: 0
  left: 0

  .key
    width: 1cm
    height: 1cm
    line-height: 1cm
    text-align: center
    vertical-align: center
    background: #333

    background: linear-gradient(180deg, #444, #222, #222, #222, #222, #111)
    border: solid 1px #000
    border-radius: 0.3cm

  .arrows
    .key
      position: absolute
      &.down, &.right, &.left
        bottom: 0.2cm
      &.up
        bottom: 1.3cm
      &.right
        right: 0.2cm
      &.down, &.up
        right: 1.3cm
      &.left
        right: 2.4cm

header
  padding: 0
  height: 1.8rem

#logo
  font-size: 18px
  color: #999
  //background: #222
  background-image: url(/logo/logo-on-dark.png)
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  display: inline-block
  width: 6.2rem
  height: 1.8rem
