#xlayout
  #t1.t
    p Top1
  #m1.m
    #l1.l
      p Left1
    #c1.c

      #t2.t
        p Top2
      #m2.m
        #l2.l
          p Left2
        #c2.c
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
          p Center2
        #r2.r
          p Right2
      #b2.b
        p Bottom2

    #r1.r
      p Right1
  #b1.b
    p Bottom1
