@require 'app/styles/settings'
#search
  //position: fixed
  //top: .1em
  //left: .1em
  background: dark?#443:#DDD
  //padding: 1em
  a
    color: dark?#CC9:#333
    text-decoration: none

  .current
    background: dark?#774:#BCD

  .title,
  .search-form,
  .match
    padding: 0 .5em

  .title
    padding-top: .5em

  padding-bottom: .5em

