.value-editor
  background: #334
  border-color: #556
  color: #ccd
  .type
    margin-right: 1em
    display: inline-block
    min-width: 5em
    &.invalid
      color: #F99
    &.active
      color: #FF9
