@require 'app/styles/settings'
#surch
  min-width: 4em
  min-height: 2em
  background: dark?#345:#DDD

  .match
    & > *
      display: inline-block
      margin-right: 0.2em
    > .cursor
      width: 1em

    > .kind
      color: #89C
