#side
  position: fixed
  right: 0
  top: 0
  bottom: 0
  width: 20em
  background: #334250
  padding: 1em

  .sed
    font-family: Monda
    .field
      margin: 0.5em 0
      .label
        font-weight: bold
        opacity: 0.66
      .value
        background: #223240
        padding: .2em .5em
        border-radius: .2em
        min-height: 1.5em
        margin-bottom: .2em

